html,
body,
#root {
    height: 100%;
    margin: 0;
}
.flex-container {
    height: 300px;
    width: 700px;
    display: flex;
    justify-content: space-between;
}

.flex-container div {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: #DAA520;
}

.flex-container > div:nth-child(1)
{
    align-self: flex-start;
}

.flex-container > div:nth-child(2)
{
    align-self: center;

}

.flex-container > div:nth-child(3)
{
     align-self: flex-end;

}

.flex-container > div:nth-child(4)
{
    align-self: center;

}

.flex-container > div:nth-child(5)
{
    align-self: flex-start;

}
